[webservers]
%{ for i in webservers ~}
${i.name}   ansible_host=${i.network_interface[0].nat_ip_address} fqdn=${i.fqdn}
%{ endfor ~}

[databases]
%{ for name, vm in databases ~}
${name}   ansible_host=${vm.network_interface[0].nat_ip_address} fqdn=${vm.fqdn}
%{ endfor ~}

[storage]
%{ for i in storage ~}
${i.name}   ansible_host=${i.network_interface[0].nat_ip_address} fqdn=${i.fqdn}
%{ endfor ~}

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_python_interpreter=/usr/bin/python3
